<!DOCTYPE html>
<html ng-app='chromeExtension'>
  <head>
    <script src="scripts/deps/angular.min.js"></script>
  </head>

  <body>
    <h1>CoderBoard</h1>

    <div ng-controller='HomeCtrl as vm'>
      <form ng-submit='vm.loadExisting()'>
        <input type='text' placeholder='Enter Board ID' ng-model='vm.boardId'/>
        <button type="submit"> Load Board </button>
      </form>
      <button class="primary-button new" ng-click="vm.loadNew()"> New Board </button>
    </div>

  </body>

  <!-- js injection -->
  <script src='scripts/client/whiteboard.js'></script>

</html>
