<!DOCTYPE html>
<html ng-app='chromeExtension'>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>

  <body>
    <h1>coderboard</h1>

    <div class='container' ng-controller='HomeCtrl as vm'>
      <div class='row'>
        <h5 class='twelve columns'>Create new board</h4>
        <!-- <form class='twelve columns' ng-submit='vm.loadNew()'>
          <input class='button twelve columns' type='submit' value='Create'>
        </form> -->
        <button class="twelve columns" ng-click="vm.loadNew()" ng-hide='true'>Create</button>
        <button class="twelve columns" ng-click="vm.loadNew()">Create</button>
      </div>
      <div class='row'>
        <h5 class='twelve coluns'>Go to existing board</h5>
        <form class='twelve columns' ng-submit='vm.loadExisting()'>
          <input class='one column' type='text' placeholder='Board ID' ng-model='vm.boardId'/>
          <button class='six columns' type="submit">Go</button>
        </form>
      </div>
    </div>

  </body>

  <!-- js injection -->
  <script src="scripts/deps/angular.min.js"></script>
  <script src='scripts/client/whiteboard.js'></script>


</html>
